config.inc.php
*.swo
*.swp
cache/*.json
.DS_Store
.sass-cache
.idea
node_modules
*.sublime-workspace
cache
lang
layout
lib
linfo
tests
*.sublime-project
composer.json
gruntfile.js
index.php
init.php
package.json
DEVELOPERS.md
README.md
.travis.yml
CHANGELOG