body {
	font-family: 'Raleway', sans-serif;
}

table {
	border: 1px solid cornflowerblue;
	border-collapse: collapse;
	background-color: lightgray;
}

tr,
td {
	border: 1px solid cornflowerblue;
}

.boldme {
	font-weight: bold;
}

td:first-child {
	font-weight: bold;
}