body {
	font-family: 'Raleway', sans-serif;
}

table {
	border: 1px solid cornflowerblue;
	/* border-collapse: collapse; */
	background-color: lightgray;
	border-radius: 5px;
}

tr,
td {
	border: 1px solid cornflowerblue;
}

td:first-child {
	font-weight: bold;
	background-color: #c3c3c3;
}

td[colspan="2"] {
	background-color: cornflowerblue;
}